{% extends "base.html" %}

{% block title %} Django Blog Archive Day {% endblock %}
{% block content %}

<br/><br/>
<div class="container">
    <h3>블로그 일별 아카이브 입니다.</h3>
    <hr>

    <div id="content">
        <h1>Post Archives for {{ day|date:"N d, Y" }}</h1>
        <div>
            <ul>
                {% for post in object_list %}
                <li>{{ post.modify_date|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;
                <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
